{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>NORC General Social Survey on Facebook</title>
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}"/>
    <link href="{% static 'bootstrap-3.3.5/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap-3.3.5/css/readable.min.css' %}" rel="stylesheet">
</head>
<body>
{% load i18n %}
<nav class="navbar navbar-default" style="border:0px;margin-bottom: 5px;" id="navBarContainer">
    <div class="container-fluid" style="padding-bottom:5px;">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" style="margin-left:20px;margin-top:35px;"><img
                    src="{% static 'images/norc_logo.png' %}" style="height: 40px;display: block;"
                    class="img-responsive"/></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="javascript:window.open('','_self').close();">Close</a></li>
                <li><a href="/privacy" target="_blank">Privacy Policy</a></li>
                <li>
                    <a href="#" id="switchLanguage">#</a>
                </li>

            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
<script src="{% static 'bootstrap-3.3.5/js/bootstrap.min.js' %}"></script>
{% include "switch_language.html" %}
{% block content %}{% endblock %}

{% block scripts %}{% endblock %}
</body>
</html>