{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block content %}

    <div class="container" style="overflow-y: scroll;" id="privacyPolicyText">
        {% get_current_language as LANGUAGE_CODE %}
        {% if LANGUAGE_CODE == 'es' %}
            {% include "privacy_text_es.html" %}
        {% else %}
            {% include "privacy_text_en.html" %}
        {% endif %}
    </div>

    <div class="container" style="position:fixed;bottom:0px;" id="agreeBtnContainer">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-4">
                <a href="/login/{{ user_code }}" class="btn btn-warning"
                   style="width: 100%; margin-top:20px;margin-bottom:30px">{% trans "I Agree" %}</a>
            </div>
        </div>
    </div>

{% endblock %}
{% block scripts %}
    <script>

        function setSizeOfTextBox() {
            var viewableOffset = $("#agreeBtnContainer").offset().top - $(window).scrollTop();
            var heightOfNavbar = $("#navBarContainer").height();
            var newHeight = viewableOffset - heightOfNavbar;
            $("#privacyPolicyText").height(newHeight);
        }

        $(window).resize(function () {
            setSizeOfTextBox();
        });

        setSizeOfTextBox();

    </script>
{% endblock %}