{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <script>
        var global = {"appId": "{{facebook_app_id}}", "userId": "{{ user_code }}", "logout": true};

    </script>

    <script src="{% static 'js/facebook.js' %}"></script>
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2">
            <h2 style="text-align: center">Thanks for your participation. Your responses have been recorded.</h2>
            <div class="row">
                <div class="col-xs-6 col-xs-offset-3" style="margin-top:50px;">
                    <div id="safeToClose" style="visibility: hidden;">
                        <h4 style="text-align: center;">You are now logged out of Facebook.</h4>
                        <h4 style="text-align: center;margin-bottom: 60px;">It is now safe to close this window and return to the
                            interview.</h4>

                        <a href="javascript:window.open('','_self').close();">
                            <button type="button" class="btn btn-warning btn-lg" id="closeBtn"
                                    style="padding:20px;width:100%;">Close Window
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script>

        function showCloseBtn() {
            if (global.processesFinished >= 2) {
                $("#safeToClose").css("visibility", "visible");
            }
        }

        var global = {"appId": {{facebook_app_id}}, "processesFinished": 0};
        window.fbAsyncInit = function () {
            console.log("Started...");
            FB.init({
                appId: global.appId,
                xfbml: true,
                version: 'v2.5'
            });

            FB.getLoginStatus(function (response) {
                FB.api('/me/permissions', 'delete', function (response) {
                    if (response.success != true) {
                        alert("Unable to remove this app from your Facebook list of apps.  Please do this manually");
                    }
                    global.processesFinished++;
                    showCloseBtn();
                });
                FB.logout(function (response) {
                    if (response.status != "unknown") {
                        alert("Unable to sign-out from Facebook.  Please do this manually");
                    }
                    global.processesFinished++;
                    showCloseBtn();
                });
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

    </script>

{% endblock %}