{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block content %}

    <div class="container" id="welcomeDiv" style="margin-top:60px;">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3" style="text-align:center;">

                <h1>{% trans "Welcome to the GSS Facebook Login" %}</h1>
                <h4>{% trans "Please enter your login codes" %}</h4>
                <div class="row" style="margin-top:40px;">
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="userId1">
                    </div>
                    <div class="col-sm-1">
                        <h1 style="margin:0px;">-</h1>
                    </div>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="userId2">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-4" style="margin-top:40px;">
                        <button type="button" class="btn btn-warning" id="submitBtn" style="width: 100%;">{% trans "Submit" %}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        $('#submitBtn').on('click', function () {
            var user1 = $("#userId1").val();
            var user2 = $("#userId2").val();
            if ((user1 == "") || (user2 == "")) {
                alert("You must fill in both fields");
                return;
            }

            window.location.href = "/" + user1 + "-" + user2;
        })
    </script>

{% endblock %}