{% extends "base.html" %}
{% load staticfiles %}
{%  load i18n %}

{% block content %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <script>
        var global = {"appId": "{{facebook_app_id}}", "userId": "{{ user_code }}", "logout": false,
                "csrf_token": "{{ csrf_token }}"};

    </script>

    <script src="{% static 'js/facebook.js' %}"></script>
    <div class="container" id="welcomeDiv" style="margin-top:60px;">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3" style="text-align:center;">
                <h1>{% trans "Welcome to the GSS Facebook Login" %}</h1>
                <h4>{% trans "Please log into Facebook to share your data" %}</h4>
                <p style="margin-bottom:50px;"><a href="/privacy" target="_blank">{% trans "See our privacy policies" %}</a></p>

                <div id="facebookBtnDiv">
                    <fb:login-button scope="public_profile,email,user_birthday,user_about_me,user_education_history,user_events,user_likes,user_actions.books,user_actions.fitness,user_actions.music,user_actions.news,user_actions.video,user_relationships,user_relationship_details,user_location,user_religion_politics,user_work_history" onlogin="loginBtnPush();" data-size="xlarge"></fb:login-button>

                </div>
                <div id="waitSpin">
                    <i class="fa fa-spinner fa-5x fa-pulse"></i>
                </div>
                <script>$("#waitSpin").hide();</script>
            </div>
        </div>
    </div>
{% endblock %}