{% load i18n %}

<div class="row" style="margin-bottom:25px;">
    <h2 style="text-align: center">{% trans "GSS Facebook Privacy Policy" %}</h2>
</div>
<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        If you agree to use this application, it will be used to collect data that you provide about
        yourself in your Facebook profile, such as your name and email address. Prior to agreeing
        to allow access, you can select which information you do or do not want included in this data
        collection.
        <br><br>
        We will never use any information collected through this application to send you marketing
        messages, solicitations, or any third-party communications. Data collected through this
        application will be kept strictly confidential. We will not sell or distribute personally
        identifiable information collected through this application to other organizations, companies,
        or groups. Authorization of this application by you will not result in future access of your
        profile data by this application.<br><br>
        Use of this application will not show up on your profile, your newsfeed, or appear to your
        friends. This application will not publish information on your newsfeed. This application will
        not access the profile information of any friends, groups, or other individuals associated with
        your profile page.<br><br>
        Data collected through this application will be downloaded to a secure location on NORC servers
        via an encrypted connection. This information will be transmitted as securely as possible, though no method
        of data transmission is 100% secure. Your password or login information will not be stored and
        cannot be accessed by researchers on the General Social Survey. We will not use cookies to
        collect data or track other sites that you may visit.<br>
    </div>
</div>
