{% load i18n %}

<div class="row" style="margin-bottom:25px;">
    <h2 style="text-align: center">{% trans "GSS Facebook Privacy Policy" %}</h2>
</div>
<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        Si usted acepta usar esta aplicación, la usaremos para recolectar datos que usted proporciona sobre sí
        mismo(a) en su perfil de Facebook, como por ejemplo su nombre y su correo electrónico. Antes de aceptar
        darnos acceso, usted puede escoger qué información desea o no desea que se incluya en esta recolección de
        información.
        <br><br>
        Nunca usaremos ninguna información recolectada por medio de esta aplicación para enviarle a usted mensajes
        de ventas, pedidos de donaciones, ni ninguna comunicación por parte de terceros. La información que se
        recolecte por medio de esta aplicación se mantendrá de manera estrictamente confidencial. La información
        personal identificable recolectada por medio de esta aplicación no se venderá ni distribuirá a otras
        organizaciones, compañías o grupos. Si usted autoriza el uso de esta aplicación, eso no permitirá que esta
        aplicación acceda en el futuro a los datos de su perfil.
        <br><br>
        El uso de esta aplicación no aparecerá en su perfil, en sus Últimas Noticias, ni será visible ante sus
        amigos. Esta aplicación no publicará información en sus Últimas Noticias. Esta aplicación no accederá a la
        información del perfil de ninguno de sus amigos, sus grupos, ni ningún otro individuo asociado con la
        página de su perfil.
        <br><br>
        Los datos recolectados por medio de esta aplicación se bajarán a un lugar seguro en los servidores de NORC
        de manera encriptada. Esta información se transmitirá lo más seguramente posible, aunque no existe un
        método de transmisión que sea 100% seguro. No guardaremos su contraseña ni su información de acceso, y los
        investigadores de la Encuesta Social General (GSS) no podrán acceder a ellas. No usaremos cookies para
        recolectar datos ni para llevar la cuenta de otros sitios que usted pueda visitar.
        <br>
    </div>
</div>
