<form action="/i18n/setlang/" method="post" id="switchLangForm">
    {% csrf_token %}
    <input name="next" type="hidden" value=document.URL id="selectLangInput"/>
    <select name="language" style='display:none' id="languageSelect">
        {% for lang in LANGUAGES %}
            {% if lang.0 != LANGUAGE_CODE %}
                <option value="{{ lang.0 }}" id="{{ lang.1 }}">{{ lang.1 }}</option>
                <script>
                    $("#switchLanguage").html("{{ lang.1 }}");
                </script>
            {% endif %}
        {% endfor %}
    </select>
    <script>
        $('#switchLanguage').on('click', function () {
            $("#switchLangForm").submit();
        });

        var splitUrl = document.URL.split("/");
        newDocUrl = "";
        for (var i =0; i < splitUrl.length; i++) {
            if (splitUrl[i] != "es" && splitUrl[i] != "en") {
                newDocUrl += splitUrl[i] + "/";
            }
        }


        $("#selectLangInput").attr("value", newDocUrl.substring(0, newDocUrl.length-1));

    </script>
</form>